@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40pt;
  color: #617221;
}
.container-helper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.full-screen {
  width: 100%;
  height: 100vh;
  background-color: #92D13D;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.title-container {
  display: inline-block;
  text-align: center;
}

.button {
  background-color: #617221;
  color: white;
  border: none;
  font-size: 18pt;
  padding: 5px 30px 5px 30px;
}
