@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

body {
  font-family: 'Open Sans', sans-serif;
}
header{
  text-align: center;
  background-color: #E9EBE3;
}
p {
  color: white;
}
h1 {
  font-size: 40pt;
  color: #617221;
}
h2 {
  color: #353536;
}
footer {
  text-align: center;
  background-color: #282828;
  color: white;
}
#loginForm .form-control {
  width: 250px;
  text-align: center;
  margin-top: 10px;
}
#loginForm .button {
  margin-top: 10px;
}
#main .full-screen {
  background-color: #E9EBE3;
}
#profile {
  text-align: center;
}
#profile .avatar {
  width: 300px;
  border-radius: 50%;
  margin-top: 30px;
}
#profile .avatar-text, #profile .avatar-icon {
  font-size: 20pt;
  font-weight: bold;
  color: black;
}
#profile .avatar-text {
  margin-top: 30px;
}
#profile .avatar-icon {
  display: inline-block;
}
#profile .profile-part {
  display: inline-block;
}
#profile .profile {
  display: flex;
  justify-content: center;
}
#profile .head {
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
}
#profile .head > button{
  width: 150px;
  height: 80px;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  font-size: 13pt;
  background-color: white;
}
#advices {
  margin-top: 50px;
}
.advice {
  background-color: #3D9BE9;
}
.container {
  width: 800px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.advice {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-helper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.full-screen {
  width: 100%;
  height: 100vh;
  background-color: #92D13D;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.title-container {
  display: inline-block;
  text-align: center;
}

.button {
  background-color: #617221;
  color: white;
  border: none;
  font-size: 18pt;
  padding: 5px 30px 5px 30px;
}
