@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,500,600,700);

body {
  font-family: 'Open Sans', sans-serif;
}
header{
  text-align: center;
  background-color: #E9EBE3;
}
p {
  color: black;
}
h1 {
  font-size: 40pt;
}
h2 {
  color: #353536;
}
footer {
  text-align: center;
  background-color: #282828;
  color: white;
}
label {
  font-size: 14pt;
  font-weight: normal;
  margin-right: 15px;
}
/*#loginForm .form-control, #registerForm .form-control {*/
form .row {
  margin-top: 10px;
}
#main .full-screen, #login .full-screen {
  background-color: #E9EBE3;
}
#profile {
  text-align: center;
}
#profile .avatar {
  width: 300px;
  border-radius: 50%;
  margin-top: 30px;
}
#profile .avatar-text, #profile .avatar-icon {
  font-size: 20pt;
  font-weight: 400;
  color: black;
}
#profile .avatar-text {
  margin-top: 30px;
}
#profile .avatar-icon {
  display: inline-block;
}
#profile .profile-part {
  display: inline-block;
}
#profile .profile {
  display: flex;
  justify-content: center;
}
#profile .head {
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
}
#profile .head > button{
  width: 150px;
  height: 80px;
  border-radius: 60px;
  border: none;
  font-weight: bold;
  font-size: 13pt;
  background-color: white;
}
#advices {
  margin-top: 50px;
}
#myModal .modal-content{
  height: 300px;
  text-align: center;
  width: 650px;
}
#myModal .row{
  font-size: 9pt;
  line-height: 25px;
}
#myModal p {
  color: black;
}
#myModal .avatar {
  width: 150px;
  border-radius: 50%;
}
#myModal .modal-down-block {
  margin-top: 20px;
}
#activeAdvices {
  margin-top: 50px;
}
.advice {
  background-color: white;
}
.container {
  width: 800px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.advice {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.form-control {
  width: 250px;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
}
.button {
  margin-top: 10px;
}
.container-helper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.full-screen {
  width: 100%;
  height: 100vh;
  background-color: #E9EBE3;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.title-container {
  display: inline-block;
  text-align: center;
}
.tip-content, .tip-action {
  margin-top: 50px;
}
.tip-content {
  text-align: left;
  font-size: 13pt;
}
.tip-action a {
  color: black;
}
.button {
  margin-right: 10px;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  font-size: 14pt;
  padding: 15px 40px 15px 40px;
}
.active-advice-block {
  display: inline-flex;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid #C53434;
  background-color: white;
  margin-right: 40px;
}
.active-advice-block-content {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  color: #8D8D8D;
  font-size: 14pt;
}
