<header ng-init="init()">
  <img src="img/logo.png" width="200px">
</header>
<div class="container-helper" id="register">
  <div class="full-screen">
    <div class="title-container">
      <div class="full-screen">
        <div id="profile" class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
              <div class="row profile">
                <div class="profile-part">
                  <h2>Please, register.</h2>
                  <div class="profile-part head">
                    <img class="avatar" src="img/login.png">
                  </div>
                  <form id="registerForm" name="registerForm" ng-submit="register()">
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-username">Username:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="text" name="username" id="form-username" class="form-control" ng-model="user.username" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-password">Password:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="password" name="password" id="form-password" class="form-control" ng-model="user.password" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-email">Email:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="email" name="email" id="form-email" class="form-control" ng-model="user.email" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-firstName">First name:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="text" name="firstName" id="form-firstName" class="form-control" ng-model="user.firstName" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-lastName">Last name:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="text" name="lastName" id="form-lastName" class="form-control" ng-model="user.lastName" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5">
                          <label for="form-pic">Browse:</label>
                      </div>
                      <div class="col-sm-7">
                          <input type="file" name="pic" id="form-pic" class="form-control" ng-model="user.lastName" required>
                      </div>
                    </div>
                    <input class="button" id="restore-registration" type="submit" value="Register!">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
